.alert {
  background: #fff;
  color: #64a131;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  text-align: center;
  border: 1px solid skyblue;
  z-index: 10;
}

.meng {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
  top: 0;
}

.que {
  position: absolute;
  left: 50%;
  top: 70%;
  width: 60px;
  height: 40px;
  background-color: #fff;
  color: #64a131;
  margin-left: -30px;
  margin-top: -20px;
}

.quep {
  position: absolute;
  left: 50%;
  top: 40%;
  width: 300px;
  height: 60px;
  color: #64a131;
  margin-left: -150px;
  margin-top: -30px;
}